language: node_js
sudo: false
node_js:
- 0.1
before_script:
- npm install -g grunt-cli
- git submodule update --init --recursive
env:
  global:
  - secure: QTvKCG0uFhtuMtw4IBKq3b6z5S5betgHfEN+qEI9h6BV5fzSF1t1zgkno7JOrfwzxYqYWBJoPd6xKAt3vs06gFuE6AyFak5OZUVyPsgok5MBzsBBPX7yGChifk+X0NWvUj+arfP/PCRGSZiYS1TTxV153snXr6yGm+Lv7tlj3no=
  - secure: YZbGKF6O3k7S/QuTBGrv4hf+Vasz7fNs3ZHAQz5ysrWS1RSN68x44paNnj/NoGc7NDv7zGAEuhi7x6J/ge0JWjAOPe58Ps72Ii4xc/dTjO75uWkF4roC3hGOYDLBHHO9e5QMoifCZQfUg1FDr7oSyz1zDccniSXC/OeD0+Sv9Tg=
