---
layout: default
name: dialog
description: Open content in an interactive overlay.
widgetApi: http://api.jqueryui.com/dialog
hasRefresh: false
extraParameters:
    - name: isOpen
      description: Controls whether the dialog is visible. When bound to a writeable observable property the binding will keep it in sync with the widget's state.
exampleView: |
  <input type="text" data-bind="value: text, valueUpdate: 'afterkeydown'">
  <div data-bind="dialog: { isOpen: isOpen }">
    <p data-bind="text: text"></p>
  </div>
  <button data-bind="click: open, disable: isOpen">Open</button>
exampleViewModel: |
  var ViewModel = function () {
    this.isOpen = ko.observable(false);
    this.text = ko.observable('Lorem ipsum dolor sit amet.')
  };
  ViewModel.prototype.open = function() {
    this.isOpen(true);
  };
---
{% include parameters.html %}
<h3>Notes</h3>
<p>jQuery UI moves the dialog element to the end of the HTML body. This causes knockout to throw the following exception:
    <blockquote>You cannot apply bindings multiple times to the same element.</blockquote></p>
<p>The workaround is to do the ko.applyBindings() on a wrapper div instead of the HTML body. This way jQuery UI will move
the dialog's element after the wrapper div, and knockout won't try to bind it again:
{% highlight html %}
<body>
    <div id="wrapper">
        ...
        <div data-bind="dialog: {...}"></div>
        ...
    </div>
    <script type="text/javascript">
        ko.applyBindings(new ViewModel(), document.getElementById('wrapper'))
    </script>
</body>
{% endhighlight %}</p>
{% include example.html %}
