---
layout: default
---
<h2>
    Extensibility</h2>
<p>
    The library has a factory object that can generate bindings for any jQuery UI widget.
    It has a single method:
</p>
{% highlight js %}bindingFactory.create(config){% endhighlight %}
<p>
    It creates the new binding based on the received configuration object. The
    configuration object has the following properties:
</p>
<dl>
    <dt>name</dt>
    <dd>String. The widget's name.</dd>
    <dt>options</dt>
    <dd>Array of strings. Names of the widget's options. The factory creates a binding
    option for each of the widget's options. When any of their values change, the binding
    will set the widget's corresponding option to the new value.</dd>
    <dt>events</dt>
    <dd>Array of strings. Names of the widget's events. The factory creates a binding 
    option for each of the widget's events. Their values have to be functions. The binding
    will bind them to the widget's events.</dd>
    <dt>hasRefresh</dt>
    <dd>Boolean, optional. Indicates whether the widget has a refresh() method. Most of
    the jQuery UI widgets has. When set to true, then the factory creates a binding option
    named 'refresh'. Changes in the value of this option will cause the binding to invoke
    the widget's refresh() method. This is useful for refreshing container-like widgets
    (tabs, accordion) when their items change. See the example on the tabs binding's
    documentation.</dd>
    <dt>preInit</dt>
    <dd>Function, optional. The binding will invoke this function before it initializes
    the widget.</dd>
    <dt>postInit</dt>
    <dd>Function, optional. The binding will invoke this function after it initializes the
    widget. This is used for implementing the bindings' non-standard options, e.g. the
    dialog binding's isOpen option.</dd>
</dl>
<h3>
    Simple widgets</h3>
<p>
    To create a binding for a widget you should invoke the factory object's create()
    method with the widget-specific configuration object. The example below creates a
    simple widget which changes the color of its element. Then a binding is created for
    the widget.
</p>
<h4>
    HTML</h4>
{% highlight html %}{% include extending-example1.html %}{% endhighlight %}
<h4>
    JavaScript</h4>
{% highlight js %}{% include extending-example1.js %}{% endhighlight %}
<h4>
    Result</h4>
<div class="box" id="example1">
{% include extending-example1.html %}
</div>
<script type="text/javascript">
{% include extending-example1.js %}
ko.applyBindings(vm1, document.getElementById("example1"));
</script>
<h3>
    Derived widgets</h3>
<p>
    The factory copies the configuration object to the created binding's config
    property.
    This simplifies creating bindings for derived widgets; you can reuse the base
    binding's configuration object.
    The lengthy example below extends the dialog widget with a minimize/restore
    functionality, then creates a binding for it.
</p>
<h4>
    HTML</h4>
{% highlight html %}{% include extending-example2.html %}{% endhighlight %}
<h4>
    JavaScript</h4>
{% highlight js %}{% include extending-example2.js %}{% endhighlight %}
<h4>
    Result</h4>
<div class="box" id="example2">
{% include extending-example2.html %}
</div>
<script type="text/javascript">
{% include extending-example2.js %}
ko.applyBindings(vm2, document.getElementById("example2"));
</script>