---
layout: default
---
<h2>
    Extensibility</h2>
<p>
    The library uses classical JavaScript inheritance which makes adding/extending the
    bindings relatively simple.
</p>
<img src="images/class diagram.png" alt="Class diagram" />
<p>
    The <strong>BindingHandler</strong> class connects the widget's options/events and the
    view model's properties/functions.
</p>
<p>
    Properties:
</p>
<ul>
    <li><i>widgetName</i>: Widget name</li>
    <li><i>widgetEventPrefix</i>: Basically when the widget triggers an event it prefixes
    the event name with this string. Actually the algorithm of constructing the event name
    is more complex, you can find it in jQuery UI's Widget._trigger() method. This
    property is only used by BindingHandler.on()</li>
    <li><i>options</i>: Names of the widget's options.</li>
    <li><i>events</i>: Names of the widget's events.</li>
    <li><i>hasRefresh</i>: Does the widget have a refresh() function?</li>
</ul>
<p>
    Methods:
</p>
<ul>
    <li><i>init</i>: The binding's "init" callback as described in knockout's <a href="http://knockoutjs.com/documentation/custom-bindings.html">documentation</a>.</li>
    <li><i>update</i>: The binding's "update" callback as described in knockout's <a href="http://knockoutjs.com/documentation/custom-bindings.html">documentation</a>.</li>
    <li><i>on</i>: Helper method which subscribes to a widget-triggered event.</li>
</ul>
<h3>
    Simple widgets</h3>
<p>
    To create a binding for a new widget you should derive a new class from BindingHandler,
    set the <i>options</i>, <i>events</i> and <i>hasRefresh</i> properties, and optionally
    override the <i>init()</i> and/or <i>update()</i> methods.
</p>
<img src="images/class diagram simple.png" alt="Class diagram for simple widgets" />
<p>
    The example below creates a simple widget which changes the color of its element.
    Then a binding is created for the widget.
</p>
<h4>
    HTML</h4>
{% highlight html %}{% include extending-example1.html %}{% endhighlight %}
<h4>
    JavaScript</h4>
{% highlight js %}{% include extending-example1.js %}{% endhighlight %}
<h4>
    Result</h4>
<div class="box" id="example1">
{% include extending-example1.html %}
</div>
<script type="text/javascript">
{% include extending-example1.js %}
ko.applyBindings(vm1, document.getElementById("example1"));
</script>
<h3>
    Derived widgets</h3>
<p>
    Creating a binding for derived widgets is similar to creating bindings for simple
    widgets, but you should derive from the widget's binding handler instead of BindingHandler.
</p>
<img src="images/class diagram derived.png" alt="Class diagram for derived widgets" />
<p>
    The lengthy example below extends the dialog widget with a minimize/restore
    functionality, then creates a binding for it.
</p>
<h4>
    HTML</h4>
{% highlight html %}{% include extending-example2.html %}{% endhighlight %}
<h4>
    JavaScript</h4>
{% highlight js %}{% include extending-example2.js %}{% endhighlight %}
<h4>
    Result</h4>
<div class="box" id="example2">
{% include extending-example2.html %}
</div>
<script type="text/javascript">
{% include extending-example2.js %}
ko.applyBindings(vm2, document.getElementById("example2"));
</script>