---
layout: default
name: selectmenu
description: Duplicates and extends the functionality of a native HTML select element to overcome the limitations of the native control.
widgetApi: http://api.jqueryui.com/selectmenu
hasRefresh: true
extraParameters:
    - name: isOpen [two-way binding]
      description: Controls whether the menu is open.
exampleView: |
  <!-- ko foreach: items -->
  <input type="radio" name="radios" data-bind="attr: { value: id }, checked: $parent.value" />
  <!-- /ko -->
  <br/>
  <select data-bind="value: value, selectmenu: { width: 300 }, options: items, optionsValue: 'id', optionsText: 'text'">
  </select>
  <br />
exampleViewModel: |
  var ViewModel = function () {
    this.items = ko.observableArray([
        { id: '1', text: 'First' },
        { id: '2', text: 'Second' },
        { id: '3', text: 'Third' },
        { id: '4', text: 'Fourth' }
    ]);
    this.value = ko.observable('1');
  };
---
{% include parameters.html %}
<h3>Notes</h3>
<p>When both <i>selectmenu</i> and <i>value</i> are applied to the same <i>&lt;select&gt;</i> element,
the two bindings cooperate. When the value of the <i>value</i> binding changes, the
<i>selectmenu</i> widget will switch to the appropriate option, and vice versa. However with a
pre-3.0 version of knockout it is important to declare <i>value</i> before <i>selectmenu</i>:</p>
{% highlight html %}
Good: <select data-bind="value: valueObservable, selectmenu: {}">...</select>
Bad: <select data-bind="selectmenu: {}, value: valueObservable">...</select>
{% endhighlight %}
{% include example.html %}
