<h2>
    {{ page.name | capitalize }}</h2>
<p>
    {{ page.description }}
</p>
<h3>
    Parameters</h3>
<p>
    There is a corresponding parameter for each of the <a href="{{ page.widgetApi }}">
        widget's options</a>. These can be bound either to normal or to observable properties
    of the viewmodel.
</p>
<p>
    There is a corresponding parameter for each of the <a href="{{ page.widgetApi }}">
        widget's events</a>. These can be bound to functions of the viewmodel. The bindings
    invoke these functions in the context of the window object.
</p>
{% if page.hasRefresh == true %}
<h4>
    refreshOn</h4>
<p>
    If bound to one of the viewmodel's observables, then every time that observable changes,
    the widget is refreshed (it's refresh method is invoked).
</p>
{% endif %}
<h4>
    widget</h4>
<p>
    If bound to one of the viewmodel's writeable observables, then the binding will write the widget
    instance into it.</p>
{% for param in page.extraParameters %}
<h4>
    {{ param.name }}</h4>
<p>
    {{ param.description }}</p>
{% endfor %}
<h3>
    Example</h3>
<div class="ym-grid ym-equalize">
    <div class="ym-gbox">
        <h4>
            HTML</h4>
        {% highlight html %}{{ page.exampleView }}{% endhighlight %}
    </div>
</div>
<div class="ym-grid ym-equalize">
    <div class="ym-gbox">
        <h4>
            JavaScript</h4>
        {% highlight js %}{{ page.exampleViewModel }}{% endhighlight %}
    </div>
</div>
<div class="ym-grid ym-equalize">
    <div class="ym-gbox">
        <h4>
            Result</h4>
        <div class="box">
            {{ page.exampleView }}
            <script type="text/javascript">
                $(function () {
                    {{ page.exampleViewModel }}
                    ko.applyBindings(new ViewModel());
                });
            </script>
        </div>
    </div>
</div>
