<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Knockout bindings for jQuery UI widgets" />
    <meta name="author" content="Vas Gábor" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="knockout,knockoutjs,jQuery UI,bindings,javascript" />
    <title>knockout-jqueryui</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/pepper-grinder/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="css/jasmine.css" type="text/css" />
    <!--[if lte IE 7]>
    <link rel="stylesheet" href="yaml/core/iehacks.min.css" type="text/css"/>
    <![endif]-->
    <script type="text/javascript" src="js/lib/es5-shim/es5-shim.min.js"></script>
    <script type="text/javascript" src="js/lib/es5-shim/es5-sham.min.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% raw %}
    <script type="text/javascript" src="js/lib/version/version.js" data-param="jquery" data-url="http://code.jquery.com/jquery-{{VERSION}}.js"
        data-ver="1.11.1"></script>
    <script type="text/javascript" src="js/lib/version/version.js" data-param="jqueryui" data-url="http://code.jquery.com/ui/{{VERSION}}/jquery-ui.js"
        data-ver="1.11.0"></script>
    <script type="text/javascript" src="js/lib/version/version.js" data-param="knockout" data-url="http://knockoutjs.com/downloads/knockout-{{VERSION}}.debug.js"
        data-ver="3.1.0"></script>
    {% endraw %}
    <script type="text/javascript" src="https://github.com/gvas/knockout-jqueryui/releases/download/v2.1.0/knockout-jqueryui.min.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37900961-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <header style="position: relative;">
                <h1>
                    <a href="index.html">Knockout-jQueryUI</a></h1>
                <a href="https://github.com/gvas/knockout-jqueryui"><img style="position: absolute; top: 0; right: 0; border: 0; height: 100%;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
            </header>
            <div class="ym-column linearize-level-2">
                <div class="ym-col1">
                    <div class="ym-cbox">
                        <nav class="ym-vlist">
                            <ul>
                                <li>
                                    <a href="whatmakesit.html">What makes it different</a>
                                </li>
                                <li>
                                    <a href="install.html">Installation</a>
                                </li>
                                <li>
                                    <a href="tests.html">Tests</a>
                                </li>
                                <li>
                                    <span>API</span>
                                    <ul>
                                        <li><a href="accordion.html">Accordion</a></li>
                                        <li><a href="autocomplete.html">Autocomplete</a></li>
                                        <li><a href="button.html">Button</a></li>
                                        <li><a href="buttonset.html">Buttonset</a></li>
                                        <li><a href="datepicker.html">Datepicker</a></li>
                                        <li><a href="dialog.html">Dialog</a></li>
                                        <li><a href="menu.html">Menu</a></li>
                                        <li><a href="progressbar.html">Progressbar</a></li>
                                        <li><a href="selectmenu.html">Selectmenu</a></li>
                                        <li><a href="slider.html">Slider</a></li>
                                        <li><a href="spinner.html">Spinner</a></li>
                                        <li><a href="tabs.html">Tabs</a></li>
                                        <li><a href="tooltip.html">Tooltip</a></li>
                                        <li><a href="extending.html">Extensibility</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="ym-col3">
                    <div class="ym-cbox">
                    {{ content }}
                    </div>
                </div>
            </div>
            <footer>
                <hr />
                <p>
                    Vas Gábor | <a href="http://www.opensource.org/licenses/mit-license.php">MIT License</a>
                    | Layout based on <a href="http://www.yaml.de">YAML</a></p>
            </footer>
        </div>
    </div>
</body>
</html>